@use "sass:math";

.article-title {
	font-style: italic;
	a {
		color: unset;
		text-decoration: none;
	}
}

.byline {
	font-style: italic;
	font-weight: light;

	a {
		&:first-child {
			text-transform: capitalize;
		}
		color: unset;
		text-decoration: none;
	}
}

article {
	figure, img, video, embed, iframe, table {
		max-width: 100%;
	}

	figure {
		width: max-content;
		overflow-x: auto;
		margin-left: auto;
		margin-right: auto;
		font-size: 1rem;

		img {
			margin-bottom: .5rem;
		}
		figcaption, cite {
			display: block;
			text-align: left;
		}
	}

	.article-body {
		font-size: 1.2rem;

		h1, h2, h3, h4, h5, h6 {
			font-weight: 300;
		}
	}

	&:last-child {
		border-bottom: none !important;
		padding-bottom: 0 !important;
	}
}

.hljs {
	padding: 1rem;
}
