@use "sass:math";
@use 'highlight.js/scss/default.scss';
@import 'bootstrap/scss/bootstrap.scss';

.article-title {
	font-style: italic;
	a {
		color: unset;
		text-decoration: none;
	}
}

article {
	figure, img, video, embed, iframe, table {
		max-width: 100%;
	}

	figure, table {
		color: unset;
	}

	figure {
		width: max-content;
		overflow-x: auto;
		margin-left: auto;
		margin-right: auto;
		font-size: 1rem;

		img {
			margin-bottom: .5rem;
		}
		figcaption, cite {
			display: block;
			text-align: left;
		}
	}

	.article-body {
		font-size: 1.2rem;

		h1, h2, h3, h4, h5, h6 {
			font-weight: 300;
		}
	}

	&:last-child {
		border-bottom: none !important;
		padding-bottom: 0 !important;
	}
}

.hljs {
	padding: 1rem;
}

.masonry {
	@include media-breakpoint-up(md){
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: masonry;
		grid-gap: $spacer;
		align-items: start;
	}
	@include media-breakpoint-down(md){
		> :not(:last-child) {
			margin-bottom: $spacer;
		}
	}
}
