@use 'sass:math';
@import "BootstrapImport";

.article-title {
	font-style: italic;
	a {
		color: unset;
		text-decoration: none;
	}
}

article {
	figure, img, video, embed, iframe, table {
		max-width: 100%;
	}

	figure, .table {
		color: unset;
	}

	figure {
		width: max-content;
		max-width: 100%;
		overflow-x: auto;
		margin-left: auto;
		margin-right: auto;
		font-size: 1rem;
		text-align: center;

		figcaption, cite {
			display: block;
		}
	}

	img {
		margin-bottom: $spacer * 0.5;

		&[srcset] {
			width: auto;
		}
	}

	.article-body {
		font-size: 1.2rem;
		line-height: 1.5;

		h1, h2, h3, h4, h5, h6 {
			margin-top: $spacer * 0.5;

			&, & * {
				font-weight: 300;
			}
		}

		img {
			cursor: pointer;
		}
	}

	&:last-child {
		border-bottom: none !important;
		padding-bottom: 0 !important;
	}
}

.hero {
	@supports (background-blend-mode: soft-light) {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-blend-mode: soft-light;
	}
	@supports not (background-blend-mode: soft-light) {
		background-image: none !important;
	}
}

.card {
	.card-img-top {
		height: 340px;
		width: 100%;
		object-fit: cover;
	}
}

.minicard {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		@include border-radius(calc($border-radius - $border-width));
		// border-radius: 0 calc(0.25rem - 1px) 0 0 !important;
	}
}

.card, .minicard {
	.card-text a, .byline > * {
		position: relative;
		z-index: 20;
	}
}

.hljs {
	padding: $spacer;
}
// Highlight.js themes. Different theme for light and dark mode.
.light-theme {
	@import '~highlight.js/scss/base16/harmonic16-light.scss';
}
.dark-theme {
	@import '~highlight.js/scss/base16/harmonic16-dark.scss';
}

.masonry {
	@include media-breakpoint-up(lg){
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: masonry;
		grid-gap: 1rem;
		align-items: start;
	}
	@include media-breakpoint-down(lg){
		> :not(:last-child) {
			margin-bottom: $spacer;
		}
	}
}

.lightbox-root {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: $zindex-modal;
	background-color: rgba($black, 0.5);

	opacity: 0;
	visibility: hidden;
	&.visible {
		visibility: visible;
		opacity: 1;
	}

	@supports (backdrop-filter: blur()) {
		transition: opacity .3s, visibility .29s .01s, backdrop-filter .3s;
		backdrop-filter: blur(0);
		&.visible {
			backdrop-filter: blur(10px);
		}
	}
	@supports not (backdrop-filter: blur()) {
		transition: opacity .3s, visibility .29s .01s;
	}

	> img:first-child {
		max-width: 90vw;
		max-height: 90vh;
		@extend .shadow;
		@extend .rounded;
	}
}
